@model IEnumerable<MovieDB.Models.Movie>
@{ 
    ViewData["Title"] = "My Movie Collection";
}

<h2 class="text-primary">My Movie Collection</h2>
<div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.DateOfRelease)</th>
                <th>@Html.DisplayNameFor(model => model.Genre)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align: center">
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfRelease)</td>
                    <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MovieID" class="btn btn-info mx-1 btn-xs">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.MovieID" class="btn btn-success mx-1 btn-xs">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.MovieID" class="btn btn-danger mx-1 btn-xs">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="text-center"><a asp-action="AddNew" class="btn btn-primary">Add New Movie</a></p>
</div>